<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../img/rr.gif" type="image/gif" >

    <!-- HTML Meta Tags -->
    <title>Rickroll generator - Nihal Navath</title>
    <meta name="description" content="Create your own custom rick rolls with title, description and image!">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Rickroll generator - Nihal Navath">
    <meta itemprop="description" content="Create your own custom rick rolls with title, description and image!">
    <meta itemprop="image" content="">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://news.rr.nihalnavath.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rickroll generator - Nihal Navath">
    <meta property="og:description" content="Create your own custom rick rolls with title, description and image!">
    <meta property="og:image" content="">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rickroll generator - Nihal Navath">
    <meta name="twitter:description" content="Create your own custom rick rolls with title, description and image!">
    <meta name="twitter:image" content="">

    <link rel="stylesheet" href="https://nihalnavath.com/global.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/rickrollGenerator.js"></script>
</head>
<body>
    <div class="text-center"> 
        <div class="creation-cont text-center flex-vertical"> 
            <h1>Create your own custom Rickrolls!</h1>
            <input id="title" type="text" placeholder="give a title for your page! REQUIRED" maxlength="130" style="width: 80%;margin-bottom: 10px;max-width: 40em;" required="">
            <textarea id="description" type="text" placeholder="Description (optional, but recommended)" maxlength="155" style="width: 70%;height: 5em;margin-bottom: 10px;max-width: 35em; max-height: 40em;"></textarea>
            <input id="ImgUrl" type="text" placeholder="Image URL, make sure it ends with a valid image type, ie: .png/.jpeg etc  (optional)" maxlength="500" style="width: 50%;margin-bottom: 10px;max-width: 40em;"></input>
            <p>Type:</p>
            <select name="type" id="type">
                <option value="posts">posts</option>
                <option value="blogs">blogs</option>
                <option value="news">news</option>
              </select>
            <button onclick="generateRickroll()">Generate Link!</button>
        </div>

        <div>
            <h1>Link Generated:</h1> <br>
            <a id="rr-link"></a>
        </div>

        <div class="stats-link-container"> 
            <h3>See how many clicked on your link here:</h3>
            <a id="stats-link"></a>
        </div>

        <p class="text-muted">Tip: you can end your URL with file extensions! example mytitle.txt, article.md... happy rickrolling!</p>

        <div class="bottom">
            <h2> <b> <%= rrCount %> victims rickrolled! </b>  </h2>
            <p>Made with ❤️ by<a href="https://nihalnavath.com" target="_blank">Nihal Navath</a></p>
            <p>This project is <a href="https://github.com/NihalNavath/Rickroll-Generator" target="_blank">open sourced!</a></p>
        </div>
    </div>
    <script src = "https://nihalnavath.com/Hit-Notifier.js"> </script>
</body>
</html>