body , html{
    margin: 0;
}

*{
    margin: 10px;
}

.text-center{
    margin: 0;
}

.input{
    text-align: center;
    }
    ::-webkit-input-placeholder {
        text-align: center;
    }
    :-moz-placeholder {
        text-align: center;
}

.nnavath-aad-s{
    max-width: 300px !important;
    max-height: 100px !important;
}

.creation-cont{
    justify-content: center;
    flex-flow: column;
    align-items: center;

    padding-top: 2%;
}

.bottom{
    position: fixed;
    bottom: 0;

    margin: 0;
    width: 100%;
}

@media only screen and (max-height: 800px) {
    .bottom{
        position: relative;
    }
}

@media only screen and (max-width: 1000px) {
    .no-mob{
        display: none;
    }
}