html{
    margin: 0;
}

*{
    margin: 10px;
}

.creation-cont{
    justify-content: center;
    flex-flow: column;
    align-items: center;

    padding-top: 2%;
}

.bottom{
    position: fixed;
    bottom: 0;

    margin: 0;
    width: 100%;
}